@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&family=Source+Sans+Pro:wght@300&display=swap');

html {
    font-family: 'Source Sans Pro', sans-serif;
}

@media (max-width: 50em) {
    body {
        margin: 5vh 10vw;
        text-size-adjust: 75%;
        -moz-text-size-adjust: 75%;
        -webkit-text-size-adjust: 75%;
    }
    header a img {
        scale: 60%;
    }
    header a:hover img {
        scale: 70%;
    }
}
@media (min-width: 50em) {
    body {
        margin: 0 10vw;
        padding: 5vh 5vw;
        min-height: 90vh;
        box-shadow: 0 0 500px #acacac;
    }
    header a img {
        scale: 80%;
    }
    header a:hover img {
        scale: 100%;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-weight: lighter;
}

a {
    color: #2F2F2F;
    text-decoration: none;
    transition: color 0.1s ease-in-out;
}
a:hover {
    color: #8F8F8F;
    transition: color 0.1s ease-in-out;
}

code {
    font-family: 'Source Code Pro', monospace;
    padding: 0 0.2em;
    border-radius: 3px;
    background-color: #EFEFEF;
}

header {
    margin-bottom: 5em;
    padding-bottom: 1.5em;
    border-bottom: 1px solid #aaa;
}
header h1 {
    display: inline;
}
header > a {
    float: right;
}
header a img {
    transition: scale 0.1s ease-in-out;
}
header a:hover img {
    transition: scale 0.1s ease-in-out;
}